{
    "extends": [
     "react-app",
     "react-app/jest"
   ],
     "rules": {
       "no-console": "error", // or "error" if you want it to be treated as an error
       "indent": ["error", 2] // Enforce 2-space indent
     }
   }